body {
  max-height: 800px; }

#wrapper {
  margin: auto;
  max-width: 1000px;
  min-height: 300px; }
  #wrapper section#form {
    text-align: center; }
    #wrapper section#form fieldset {
      text-align: left;
      width: 80%;
      margin: auto; }
    #wrapper section#form label {
      width: 90px;
      display: inline-block;
      color: black; }
      #wrapper section#form label[data-toggle="tooltip"] {
        cursor: pointer;
        font-weight: bold; }
        #wrapper section#form label[data-toggle="tooltip"]:after {
          content: "*"; }
    #wrapper section#form button {
      margin-top: 20px; }

div.row.myFlex {
  display: flex;
  display: -webkit-flex; }
  div.row.myFlex div.myFlexItem {
    align-items: center; }
    div.row.myFlex div.myFlexItem button {
      height: 100%; }

table tbody tr:hover {
  cursor: pointer; }

.error {
  border: 1px solid red; }

.correct {
  border: 1px solid green; }

.center {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
