.t00ltip {
    padding: 10px 15px 12px 15px;
    border-radius: 7px;
    background-color:  rgba(215, 40, 40, .8);

    opacity: 1;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;
    margin:0;
    overflow: hidden;
    position:absolute;
    right: 15px;
    top:0;
    z-index: 1;
    font: 12px/1 Tahoma, Arial, sans-serif;
    text-align: center;
    color: #fff;
}

.tooltip.hidden {
    opacity: 0;
    visibility: hidden;
}