body{
    max-height: 800px;
}
#wrapper{
    margin:auto;
    max-width: 1000px;
    min-height: 300px;
    section#form{
        text-align:center;
        fieldset{
            text-align:left;
            width:80%;
            margin: auto;
        }
        label{
            &[data-toggle="tooltip"]{
                cursor:pointer;
                font-weight: bold;
                &:after{
                    content:"*";
                }
            }
            width:90px;
            display: inline-block;
            color:black;
        }
        button{
            margin-top:20px;
        }
    }

}
div.row.myFlex{
    display:flex;
    display: -webkit-flex;
    div.myFlexItem{
        button{
            height: 100%;
        }
    align-items: center;
    }
    
}
table tbody tr:hover{
    cursor: pointer;
}

.error{
    border:1px solid red;
}
.correct{
    border: 1px solid green;
}
.center{
    text-align: center;
}